absl-py~=1.2.0
ml-collections~=0.1.1
matplot~=0.1.9
matplotlib~=3.4.3
matplotlib-inline~=0.1.2
numpy~=1.22.4
pyquaternion~=0.9.9
munch~=2.5.0
typing~=3.7.4.3
dataclasses~=0.6
etils~=0.6.0
tensorflow~=2.8.2
trimesh~=3.12.9
tqdm~=4.64.0
requests~=2.28.1
singledispatchmethod~=1.0
openexr~=1.3.8
scikit-learn~=1.1.1
imageio~=2.19.5
setuptools~=61.2.0
mediapy~=1.0.3
scipy~=1.8.1
optax~=0.1.3
chex~=0.1.3
jax~=0.3.15
jaxline~=0.0.5
pillow~=9.2.0
dm-haiku~=0.0.7
tensorflow_datasets~=4.6.0
tensorflow_graphics~=2021.12.3
typing_extensions~=4.3.0
einshape @ git+https://github.com/deepmind/einshape
