--extra-index-url https://download.pytorch.org/whl/cpu
absl-py==2.1.0
tqdm==4.66.4
absl-py==2.1.0
tqdm==4.66.4
tensorflow==2.15.0
numpy==1.25.2
pillow==10.3.0
projectaria-tools==1.5.2
visu3d==1.5.3
torch==2.3.0
torchvision==0.18.0
